{% extends "static_customer.html" %}
{% block body %}

<div class="app-main__outer">
         <!-- ! App inner main here -->
        <div class="myAppCenter p-3" >
            
            <div class="orderDetailsWrapper">
                <div class="row  justify-content-center  ">
                    <div class="col-10 col-md-10 mx-auto d-flex justify-content-center flex-column">
                        
                        <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><h1 style="color:green">About US:</h1></center>
                            <!-- <img src="/return-files/others/dog.jpg"> -->
                        </div>
                        <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><p>Im Naveen Properiator at {{company_data.name}}.Its Our first Branch in rajapalayam. Well Clean vegetables and hygienic food served here. Express Delievery Available</p></center>
                            <!-- <img src="/return-files/others/dog1.jpg"> -->
                        </div>
                         <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><h1 style="color:green">Terms And Condition :</h1></center>
                            <!-- <img src="/return-files/others/dog.jpg"> -->
                        </div>
                        <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><p>Once order placed users can not be cancell the order. Only shop incharge able to cancel the order.</p></center>
                            <!-- <img src="/return-files/others/dog1.jpg"> -->
                        </div>
                        <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><h1 style="color:green">Refunds/Cancellations :</h1></center>
                            <!-- <img src="/return-files/others/dog.jpg"> -->
                        </div>
                        <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><p>Refunds/Cancellations: Refund process by shop owner. it will be taken 5-7 working days days to process the refund and credit the amount to the customer's bank account.</p></center>
                            <!-- <img src="/return-files/others/dog1.jpg"> -->
                        </div>
                        <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><h1 style="color:green">Shipping policy :</h1></center>
                            <!-- <img src="/return-files/others/dog.jpg"> -->
                        </div>
                        <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><p>Once Order Place It will take 10 to 15 mintues for dispatch.</p></center>
                            <!-- <img src="/return-files/others/dog1.jpg"> -->
                        </div>
                          <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><h1 style="color:green">Pricing policy :</h1></center>
                            <!-- <img src="/return-files/others/dog.jpg"> -->
                        </div>
                        <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><p>Price Will be change depends upon demand and festivals.</p></center>
                            <!-- <img src="/return-files/others/dog1.jpg"> -->
                        </div>
                        <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><h1 style="color:green">Contact US:</h1></center>
                            <!-- <img src="/return-files/others/dog.jpg"> -->
                        </div>
                        <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up">
                            <center><h3>Hotel Name:{{company_data.name}}</h3></center>
                            <center><h3>Address: {{company_data.address}}</h3></center>
                            <center><h3>Email Id: {{company_data.email_id}}</h3></center>
                            <center><h3>Phone: {{company_data.phone}}</h3></center>
                            <!-- <img src="/return-files/others/dog1.jpg"> -->
                        </div>
                        <!-- <div class="row card p-1 brdr-radius-5 mb-3" data-aos="fade-up"> -->
                            <!-- <center><h1 style="color:green;">CLICK TO DOWNLOAD APP HERE</h1></center> -->
                            <!-- <img src="/return-files/others/dog.jpg"> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>

        </div>
    {% endblock %}