{% extends "static.html" %}
{% block body %}



<style type="text/css">
    input[type="checkbox"] { 
  position: absolute;
  opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
  vertical-align: middle;
  width: 40px;  height: 20px;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
  margin: 15px 1.2em 15px 2.5em;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
  width: 40px;
  background-position: 0 0;
  background-color: #3b89ec;
  border: 1px solid #0e62cd;
  box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
  width: 34px;  height: 18px;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
  width: 50px;  height: 25px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
  background-color: #00e359;
  border: 1px solid rgba(0, 162, 63,1);
  box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
  float: left;
  width: 18px; height: 18px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
  width: 16px; height: 16px;
  margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(16px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
  width: 23px; height: 23px;
  margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(25px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}

</style>

<div class="row">
    <div class="col-md-12">
        <div class="card overflow-hidden">
        <!-- /#header -->
   
   
        <!-- /#header -->
        <!-- Content -->
                        {% if setting_data == None %}
                         <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    
                    <div class="container" style="margin-top: 150px">
                        <h3>Add a company</h3>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Enter Delivery Charges : </label>
                                    <input type="number" value="" name="delivery_charges" placeholder="Enter Delivery Charges" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Enter Gst: </label>
                                    <input type="number" name="gst" value="" class="form-control" />
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Enter Service Charges: </label>
                                    <input type="number" name="service_charges" value=5 class="form-control" readonly="" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display: none;">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Tax On/OFF:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="tax" value="on" /><div><div></div></div></label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Delivery On/OFF:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="delivery" value="on" /><div><div></div></div></label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Take Away On/OFF:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="take_away" value="on" /><div><div></div></div></label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Cash Payment ON/OFF:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="cash_pay" value="on" /><div><div></div></div></label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Online ON/OFF:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="online" value="on" /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Show Open/close:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="shop_status" value="on" /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Stock Maintanace:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="stock_maintance" value="on" /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Monday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_mon" value=09:00 AM /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_mon" value='21:00' /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Tuesday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_tues" value=09:00 AM /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_tues"  value='21:00' /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Wednesday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_wednes" value=09:00 AM /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_wednes"  value='21:00' /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Thursday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_thurs" value=09:00 AM /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_thurs" value='21:00'/><div><div></div></div>   </label>  
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Friday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_fri" value=09:00 AM  /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_fri"  value='21:00' /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Saturday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_sat" value=09:00 AM  /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_sat"  value='21:00' /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Sunday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_sun" value=09:00 AM  /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_sun"  value='21:00' /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-sm-9 col-lg-39" style="text-align: center">
                                <button class="btn btn-primary btn-round " type="submit">save</button>
                            </div>
                        </div>

                    </div>
                    
                </form>

                {% else %}
                    <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}

                    <div class="container" style="margin-top: 150px">
                        <h3>Add a company</h3>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Enter Delivery Charges : </label>
                                    <input type="number" value="{% for i in setting_data %}{% if i.name == 'delivery_charge' %}{{i.value}}{% endif %}{% endfor %}" name="delivery_charges" placeholder="Enter Delivery Charges" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Enter Gst: </label>
                                    <input type="number" name="gst" value="{% for i in setting_data %}{% if i.name == 'gst' %}{{i.value}}{% endif %}{% endfor %}" class="form-control" />
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Enter Service Charges: </label>
                                    <input type="number" name="service_charges" value=5 class="form-control" readonly="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Tax On/OFF:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input  type="checkbox" class="ios-switch"  name="tax" value="on" {% for i in setting_data %}{% if i.value == 'on' and i.name == 'tax' %}checked{% endif %}{% endfor %} /><div><div></div></div></label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Delivery On/OFF:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="delivery" value="on" {% for i in setting_data %}{% if i.value == 'on' and i.name == 'delivery' %}checked{% endif %}{% endfor %} /><div><div></div></div></label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Take Away On/OFF:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="take_away" value="on" {% for i in setting_data %}{% if i.value == 'on' and i.name == 'take_away' %}checked{% endif %}{% endfor %} /><div><div></div></div></label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Cash Payment ON/OFF:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="cash_pay" value="on" {% for i in setting_data %}{% if i.value == 'on' and i.name == 'cash_pay' %}checked{% endif %}{% endfor %} /><div><div></div></div></label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Online ON/OFF:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="online" value="on" {% for i in setting_data %}{% if i.value == 'on' and i.name == 'online' %}checked{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Show Open/close:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="shop_status" value="on"{% for i in setting_data %}{% if i.value == 'on' and i.name == 'shop_status' %}checked{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Stock Maintanace:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label><input type="checkbox" class="ios-switch"  name="stock_maintance" value="on"{% for i in setting_data %}{% if i.value == 'on' and i.name == 'stock_maintance' %}checked{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Monday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_mon" {% for i in setting_data %}{% if i.name == 'monday_from'   %}value='{{i.value}}'{% endif %}{% endfor %}/><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_mon" {% for i in setting_data %}{% if i.name == 'monday_to' %}value='{{i.value}}'{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Tuesday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_tues" {% for i in setting_data %}{% if i.name == 'tuesday_from' %}value='{{i.value}}'{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_tues" {% for i in setting_data %}{% if i.name == 'tuesday_to' %}value='{{i.value}}'{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Wednesday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_wednes" {% for i in setting_data %}{% if i.name == 'wednesday_from' %}value='{{i.value}}'{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_wednes" {% for i in setting_data %}{% if i.name == 'wednesday_to' %}value='{{i.value}}'{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Thursday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_thurs" {% for i in setting_data %}{% if i.name == 'thursday_from' %}value='{{i.value}}'{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_thurs"{% for i in setting_data %}{% if i.name == 'thursday_to' %}value='{{i.value}}'{% endif %}{% endfor %}/><div><div></div></div>   </label>  
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Friday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_fri" {% for i in setting_data %}{% if i.name == 'friday_from' %}value='{{i.value}}'{% endif %}{% endfor %}  /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_fri" {% for i in setting_data %}{% if i.name == 'friday_to' %}value='{{i.value}}'{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Saturday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_sat" {% for i in setting_data %}{% if i.name == 'saturday_from' %}value='{{i.value}}'{% endif %}{% endfor %}  /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_sat" {% for i in setting_data %}{% if i.name == 'saturday_to' %}value='{{i.value}}'{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="form-group">
                                    <label>Sunday:</label>
                                   <div class=" text-center  col-md-12 col-sm-12 col-lg-6">
                                      <div class="form-check ">
                                        <label>From :<input type="time" class="ios-switch"  name="from_sun" {% for i in setting_data %}{% if i.name == 'sunday_from' %}value='{{i.value}}'{% endif %}{% endfor %}  /><div><div></div></div>   </label>
                                        <label>To:<input type="time" class="ios-switch"  name="to_sun" {% for i in setting_data %}{% if i.name == 'sunday_to' %}value='{{i.value}}'{% endif %}{% endfor %} /><div><div></div></div>   </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-sm-9 col-lg-39" style="text-align: center">
                                <button class="btn btn-primary btn-round " type="submit">save</button>
                            </div>
                        </div>

                    </div>
                    
                </form>
                {% endif %}
                </div>
        </div>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<!-- <script src="/static/assets/js/main.js"></script> -->
<!--  Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
<!--Chartist Chart-->
<script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
<script src="/static/assets/js/init/weather-init.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
<script src="/static/assets/js/init/fullcalendar-init.js"></script>

{% endblock %}
